{% load static %}
 <!DOCTYPE html>
 <html lang="en">
 <head>
 <meta charset="utf-8" />
 <meta name="viewport"
content="width=device-width,
 initial-scale=1.0">
 <meta http-equiv="X-UA-Compatible"
content="ie=edge">
 <link rel="stylesheet" href="{% static 'myapp/main.css' %}"/>
 <title>Sohel Khan</title>
 </head>
 <body>
 <h1> Sohel Homes</h1>

<p>Hi I am Sohel Khan</p>
 <span>I create this website by python and django webframe</span>
 <small>you can do it. I can tell you how.</small>
 <img src="{% static 'image.jpg' %}" alt="work picture"/>
 </body>
 </html>